/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#containerlist, #containershow{
    width:80%;
    margin:0 auto;
    margin-top: 80px;
}

.listitem{
    margin:10px 0;
}
.nav-link {
    color: dodgerblue;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: lightslategrey;
    color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    justify-content: center;
}
.nav a{
    text-decoration:none;
    color:white;
}
.navbar{
    display:flex;
    flex-direction:row;
    margin-bottom:30px;

}

.navitem a {
    text-decoration: none;
    color: red;
}
.dellink{
    color:red;
}

/*
.delButton {
    display: block;
    margin: 0 auto;
    background: #dd1111;
    color: white;
    border: 1px solid #000;
    border-radius: 3px;
}
    */