@model IEnumerable<n01626469_Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}



<div id="containerlist">
    <nav id="topnav" style="padding-bottom:20px;">
        <a class="navlink"style="color:dodgerblue;" href="/Teacher/New">New Teacher</a>
    </nav>
    
    <h2>List of Teachers</h2>

    @foreach (var teacher in Model)
    {<div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>
    }
</div>


